.css-k0sv6k {
    background-color: #000;
}

.css-1xfuh55 {
    background-color: #FFF;
    border: 2px solid #0077b6;
    transition: 0.4s;
}

.css-1wrcr25 {
    background-color: #14213d;
}

.css-10trblm {
    background-color: #bc4749;
    border-radius: 20px;
}

.css-10trblm.e16nr0p30 {
    color: #FFF;
    font-weight: 900;
    font-size: 50px;
    padding: 10px;
}

.css-nlntq9.e16nr0p33 {
    color: #FFF;
}

.css-qrbaxs.effi0qh3 {
    color: #FFF;
}

.css-1xfuh55 {
    background-color: #c9184a;
    color: #FFF;
    font-weight: 800;
    transition: 0.4s;
}

.css-1xfuh55:hover {
    background-color: #fff0f3;
    color: #c9184a;
}

.css-po3vlj.exg6vvm15 {
    background-color: #ffecd1;
}

.e1fb0mya0.css-fxu46w.ex0cdmw0 {
    color: #4361ee;
}

.css-9ycgxx.exg6vvm12 {
    font-weight: 800;
}

.css-1aehpvj.euu6i2w0 {
    color: #f8961e;
}

.css-1cpxqw2.edgvbvh9 {
    background-color: #c9184a;
    color: #FFF;
    font-weight: 800;
    transition: 0.2s;
}

.css-1cpxqw2.edgvbvh9:hover {
    background-color: #fff0f3;
    color: #c9184a;
}

.css-nlntq9.e16nr0p33 {
    font-weight: 700;
    font-size: 100px;
}
