/* .css-uf99v8 {
    background-color: #14213d;
}

.css-18ni7ap {
    background-color: #000;
}

.css-fblp2m {
    background-color: #FFF;
    border: 2px solid #0077b6;
    transition: 0.4s;
}

.css-fblp2m:hover {
    background-color: #000;
    color: #FFF;
}

.css-1offfwp {
    background-color: #bc4749;
    border-radius: 20px;
}

.css-1offfwp p strong {
    color: #FFF;
    font-weight: 900;
    font-size: 50px;
}

.css-1offfwp p {
    text-align: center;
}

.css-183lzff {
    color: #FFF;
}

.css-po3vlj {
    background-color: #ffecd1;
}

.css-9ycgxx {
    font-weight: 800;
}

.css-noeb3a {
    color: #4361ee;
}

.css-1x8cf1d {
    background-color: #c9184a;
    color: #FFF;
    font-weight: 800;
    transition: 0.2s;
}

.css-1x8cf1d:hover {
    background-color: #fff0f3;
    color: #c9184a;
}

.css-1uixxvy {
    color: #FFF;
}

.css-1aehpvj {
    color: #f8961e;
}
    
.css-fblp2m {
    color: #c9184a;
    font-weight: 800;
    border-radius: 5px;
}

.css-fblp2m:hover {
    color: #FFF;
    background-color: #c9184a;
    font-weight: 800;
}

.css-1v0mbdj {
    border: 5px solid #76c893;
} */

h1 {
    color: #FFF;
    background-color: #0077b6;
    padding: 20px;
}